<div class="user-container">
  <h1>Search Users</h1>
  <div class="search-box">
    <%= form_for "", url: users_path, role: "search", method: :get do %>
      <%= text_field_tag :search, @search_term, class:"form-control form-input", placeholder: "Search..." %>
    <% end %>
    <% if @search_term and @user %>
      <div class="search-results">
        <%= button_to @user.username, user_path(@user), class: "btn btn-wide", method: :get %>
        <% if current_user.following?(@user) %>
          <%= button_to "<i class='fa-solid fa-user-slash'></i>".html_safe, unfollow_path(@user), class: "btn btn-flat" %>
        <% else %>
          <%= button_to "<i class='fa-solid fa-user-plus'></i>".html_safe, follow_path(@user), class: "btn btn-flat" %>
        <% end %>
      </div>
    <% else %>
      <div class="search-results">
        <p><strong><%= @search_term %></strong> not found.</p>
      </div>
    <% end %>
  </div>
  <h1>Friends</h1>
  <div class="follows">
    <div class="follow">
      <h4>Following</h4>
      <% if @following.size > 0 %>
        <% @following.each do |friend| %>
          <p><%= link_to friend.username, users_path(friend) %></p>
        <% end %>
      <% end %>
    </div>
    <div class="follow">
      <h4>Followers</h4>
      <% if @followers.size > 0 %>
        <% @followers.each do |friend| %>
          <p><%= link_to friend.username, users_path(friend) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
