<div class="user-container">
  <h1>Search Users</h1>
  <div class="search-box">
    <%= form_for "", url: users_path, role: "search", method: :get do %>
      <%= text_field_tag :search, @search_term, class:"form-control form-input", placeholder: "Search..." %>
    <% end %>
    <% if @search_term and @user.nil?%>
      <div class="search-results">
        <p><strong><%= @search_term %></strong> not found.</p>
      </div>
    <% elsif @search_term and @user %>
      <div class="search-results">
        <%= button_to @user.username, user_path(@user), class: "btn btn-wide", method: :get %>
        <% if current_user.following?(@user) %>
          <%= button_to "<i class='fa-solid fa-user-slash'></i>".html_safe, unfollow_path(@user), class: "btn btn-flat" %>
        <% else %>
          <%= button_to "<i class='fa-solid fa-user-plus'></i>".html_safe, follow_path(@user), class: "btn btn-flat" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <h1>Leaderboard</h1>
  <div class="games">
    <% @games.each do |game| %>
      <% top_3 = Average.where(game: game).sort_by(&:average) %>
      <div class="leader-category">
        <h4><%= button_to game.name, game_path(game), class: "btn btn-small", method: :get %></h4>
        <% top_3[0..2].each do |avg| %>
          <div class="leader-scores">
            <p><%= link_to User.find_by(id: avg.user).username, user_path(avg.user) %></p>
            <p><%= avg.average %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
