<div class="user-container">
  <h1 class="visit-title"><%= @user.username %></h1>
  <% if @user == current_user %>
    <h5><%= @user.email %></h5>
    <div class="card-product general-card">
      <% unless @user.photo.key.nil? %>
        <%= cl_image_tag @user.photo.key, class: "avatar" %>
      <% else %>
        <p><%= button_to "Add photo", edit_user_path(current_user), class: "btn btn-flat" %></p>
      <% end %>
      <div class="user-links">
        <p><%= button_to "Edit", edit_user_path(current_user), class: "btn btn-flat", method: :get %></p>
        <p><%= button_to "Log Out", destroy_user_session_path, class: "btn btn-flat", data: { "turbo-method": :delete } %></p>
      </div>
      <div class="follows">
        <div class="follow">
          <h4>Following</h4>
          <% if @following %>
            <% if @following.size > 0 %>
              <% @following.each do |friend| %>
                <p><%= link_to friend.username, user_path(friend) %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="follow">
          <h4>Followers</h4>
          <% if @following %>
            <% if @followers.size > 0 %>
              <% @followers.each do |friend| %>
                <p><%= link_to friend.username, user_path(friend) %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card-product">
      <% unless @user.photo.key.nil? %>
        <%= cl_image_tag @user.photo.key, class: "avatar" %>
      <% else %>
        <p><%= image_tag "https://i.imgur.com/djGIukc.png", class: "avatar" %></p>
      <% end %>
      <div class="card-product-infos">
        <% if current_user.following?(@user) %>
          <%= button_to "<i class='fa-solid fa-user-slash'></i>".html_safe, unfollow_path(@user), class: "btn btn-flat" %>
        <% else %>
          <%= button_to "<i class='fa-solid fa-user-plus'></i>".html_safe, follow_path(@user), class: "btn btn-flat" %>
        <% end %>
        <p><%= button_to "Me", user_path(current_user), class: "btn btn-flat" %></p>
      </div>
    </div>
  <% end %>
</div>
