<div class="result-container">
  <h1><%= @game.name %></h1>
  <div class="result-links">
    <p><%= button_to "Info", game_path(@game), class: "btn btn-flat", method: :get %></p>
    <p><%= button_to "Play", @game.url, class: "btn btn-flat", form: { target: "_blank" }, method: :get %></p>
    <p><%= button_to "Record", new_game_result_path(@game), class: "btn btn-flat", method: :get %></p>
  </div>
  <% unless @results.nil? %>
    <div class="average-show">
      <% unless @average.nil? || @average == 0 %>
        <h3>Average: <strong><%= @average.average %></strong></h3>
      <% end %>
    </div>
    <div class="cards">
      <% @results.sort_by(&:edition_int).reverse.each do |result| %>
        <div class="result-category">
          <div class="result-info">
            <% unless result.edition.nil? and result.score.nil? %>
              <h2><%= link_to "#{result.edition}", game_result_path(@game, result) %></h2>
              <h4><%= link_to "#{result.display_score}", game_result_path(@game, result) %></h4>
            <% else %>
              <p>Invalid.</p>
            <% end %>
            </div>
          <div class="change-links">
            <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_game_result_path(@game, result) %>
            <%= link_to game_result_path(@game, result), data: {turbo_method: :delete, turbo_confirm: "Delete?"} do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @results %>
  <% end %>
</div>
