<div class="game-container">
  <h1><%= @game.name %> <%= @result.edition %></h1>
  <div class="result-links">
    <p><%= button_to "Scores", game_results_path(@game), class: "btn btn-flat", method: :get %></p>
    <p><%= button_to "Play", @game.url, class: "btn btn-flat", form: { target: "_blank" }, method: :get %></p>
    <p><%= button_to "Record", new_game_result_path(@game), class: "btn btn-flat", method: :get %></p>
  </div>
  <div class="game-stats">
    <div class="game-big">
      <h3><%= @user.username %></h3>
      <% unless @result.edition.nil? and @result.score.nil? %>
        <div class="game-guess">
          <% if @result.clean(@result.guess).kind_of?(Array) %>
            <% @result.clean(@result.guess).each do |line| %>
              <%= line %>
              <br>
            <% end %>
          <% else %>
            <%= @result.clean(@result.guess) %>
          <% end %>
        </div>
      <% else %>
        <p>Invalid score!</p>
      <% end %>
    </div>
    <div class="game-big">
      <h3><%= @result.edition %>'s Stats</h3>
      <% unless @result.edition.nil? and @result.score.nil? %>
        <div class="game-statistic">
          <div class="game-stat">
            <strong>Leader:</strong>
            <%= link_to (cl_image_tag @leader.photo.key, class: "avatar-small"), user_path(@leader) %>
          </div>
          <div class="game-stat">
            <strong>Played:</strong>
            <%= @results.size %>
          </div>
          <div class="game-stat">
            <strong>Best:</strong>
            <%= @results.sort_by(&:score).first.score %>
          </div>
          <div class="game-stat">
            <strong>Worst:</strong>
            <%= @results.sort_by(&:score).reverse.first.score %>
          </div>
        </div>
      <% else %>
        <p>Invalid score!</p>
      <% end %>
    </div>
  </div>
</div>
<% unless @friends.nil? %>
  <div class="friend-container">
      <h2>Friends</h2>
      <% if @friends.size > 3 %>
        <div class="friend-results">
      <% else %>
        <div class="friend-results-small">
      <% end %>
          <% @friends.each do |friend| %>
            <% if Average.find_by(game: @game, user: friend) %>
              <div class="game">
                <h4><%= link_to friend.username, user_path(friend) %></h4>
                <% friend_result = Result.find_by(user: friend, edition: @result.edition, game: @game) %>
                <div class="friend-score">
                  <% unless friend_result.nil? %>
                    <%= button_to friend_result.display_score, game_result_path(@game, friend_result), class: "btn btn-score", method: :get %>
                  <% else %>
                    Unplayed
                  <% end %>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>
