<div class="result-container">
  <h1><%= @game.name %> <%= @result.edition %></h1>
  <div class="result">
    <h3><%= @user.username %></h3>
    <% unless @result.edition.nil? and @result.score.nil? %>
      <% if @result.clean(@result.guess).kind_of?(Array) %>
        <% @result.clean(@result.guess).each do |line| %>
          <%= line %>
          <br>
        <% end %>
      <% else %>
        <%= @result.clean(@result.guess) %>
      <% end %>
    <% else %>
      <p>Invalid score!</p>
    <% end %>
  </div>

  <p><%= link_to "All #{@game.name} results", game_results_path %></p>
  <p><%= link_to "Play now", @game.url, target: :_blank %></p>
  <p><%= link_to "New score", new_game_result_path %></p>
</div>

<% unless @friends.nil? %>
  <div class="friend-container">
      <h2>Amigos</h2>
      <% if @friends.size > 3 %>
        <div class="friend-results">
      <% else %>
        <div class="friend-results-small">
      <% end %>
          <% @friends.each do |friend| %>
          <div class="friend-result">
            <h4><%= link_to friend.username, user_path(friend) %></h4>
            <% friend_result = Result.find_by(params[game: @game, edition: @result.edition, user: friend]) %>
            <p><%= link_to friend_result.display_score, game_result_path(@game, friend_result) %></p>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
