<div class="game-container">
  <h1><%= @game.name %></h1>
  <div class="result-links">
    <p><%= button_to "Scores", game_results_path(@game), class: "btn btn-flat", method: :get %></p>
    <p><%= button_to "Play", @game.url, class: "btn btn-flat", form: { target: "_blank" }, method: :get %></p>
    <p><%= button_to "Record", new_game_result_path(@game), class: "btn btn-flat", method: :get %></p>
  </div>
  <div class="statistics-container">
    <h2>Statistics</h2>
    <div class="statistics">
      <div class="game">
        <h3><%= current_user.username %></h3>
        <p><strong>Average:</strong> <%= Average.find_by(game: @game, user: current_user).average %></p>
        <p><strong>Played:</strong> <%= @user_results.size %></p>
        <p><strong>Best:</strong> <%= @user_results.sort_by(&:score).first.score %></p>
        <p><strong>Win Rate:</strong> <%= '%.2f' % (((@user_results.select{|result| result.score < 7 }.size) / @user_results.size.to_f) * 100) %>%</p>
        <p>Distribution</p>
      </div>
      <div class="game">
        <h3>Everyone</h3>
        <p><strong>Average:</strong> <%= @everyone_average %></p>
        <p><strong>Played:</strong> <%= @everyone_results.size %></p>
        <p><strong>Best:</strong> <%= @everyone_results.sort_by(&:score).first.score %></p>
        <p><strong>Win Rate:</strong> <%= '%.2f' % (((@everyone_results.select{|result| result.score < 7 }.size) / @everyone_results.size.to_f) * 100) %>%</p>
        <p>Distribution</p>
      </div>
    </div>
  </div>
</div>
