<div class="game-container">
  <h1><%= @game.name %></h1>
  <div class="result-links">
    <p><%= button_to "Scores", game_results_path(@game), class: "btn btn-flat", method: :get %></p>
    <p><%= button_to "Play", @game.url, class: "btn btn-flat", form: { target: "_blank" }, method: :get %></p>
    <p><%= button_to "Record", new_game_result_path(@game), class: "btn btn-flat", method: :get %></p>
  </div>
  <div class="statistics-container">
    <h2>Statistics</h2>
    <% if @user_results.size > 0 %>
      <div class="statistics">
        <div class="statistic">
          <h3><%= current_user.username %></h3>
          <div class="stat">
            <strong>Average:</strong>
            <%= @user_average %>
          </div>
          <div class="stat">
            <strong>Played:</strong>
            <%= @user_results.size %>
          </div>
          <div class="stat">
            <strong>Best:</strong>
            <%= @user_results.sort_by(&:score).first.score %>
          </div>
          <div class="stat">
            <strong>Win %:</strong>
            <%= '%.2f' % (((@user_results.select{|result| result.score < @game.max_score+1 }.size) / @user_results.size.to_f) * 100) %>
          </div>
        </div>
      <% else %>
        <div class="statistics">
          <div class="statistic">
            <h3><%= current_user.username %></h3>
            <p>No scores</p>
            <p>Play now</p>
          </div>
      <% end %>
      <% if @everyone_results.size > 0 %>
        <div class="statistic">
          <h3>Everyone</h3>
          <div class="stat">
            <strong>Average:</strong>
            <%= @everyone_average %>
          </div>
          <div class="stat">
            <strong>Played:</strong>
            <%= @everyone_results.size %>
          </div>
          <div class="stat">
            <strong>Best:</strong>
            <%= @everyone_results.sort_by(&:score).first.score %>
          </div>
          <div class="stat">
            <strong>Win %:</strong>
            <%= '%.2f' % (((@everyone_results.select{|result| result.score < @game.max_score+1 }.size) / @everyone_results.size.to_f) * 100) %>
          </div>
        </div>
      <% else %>
          <div class="statistic">
            <h3>Everyone</h3>
            <p>No scores</p>
            <p>Play now</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="distributions">
    <h3>Distribution</h3>
    <% if @user_results.size > 0 %>
      <div class="distribution">
        <% i = 0 %>
        <% while i < @game.max_score %>
          <div class="distribution-value">
            <strong><%= i + 1 %></strong>
            <%= @user_results.select{|result| result.score == (i + 1) }.size %>
          </div>
          <% i += 1 %>
        <% end %>
        <div class="distribution-value">
          <strong>X</strong>
          <%= @user_results.select{|result| result.score == (@game.max_score + 1) }.size %>
        </div>
      </div>
    <% else %>
      <p>You haven't played yet.</p>
    <% end %>
  </div>
</div>
